CDStore/WebContent/wsdl/AuthorisaationService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://AuthorisationService.WebServices.K9.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://AuthorisationService.WebServices.K9.com" xmlns:intf="http://AuthorisationService.WebServices.K9.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://AuthorisationService.WebServices.K9.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="authorisePurchase">
    <complexType>
     <sequence>
      <element name="paymentInfo" type="xsd:string"/>
      <element name="order" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="authorisePurchaseResponse">
    <complexType>
     <sequence>
      <element name="authorisePurchaseReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="authorisePurchaseResponse">

      <wsdl:part element="impl:authorisePurchaseResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="authorisePurchaseRequest">

      <wsdl:part element="impl:authorisePurchase" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="AuthorisaationService">

      <wsdl:operation name="authorisePurchase">

         <wsdl:input message="impl:authorisePurchaseRequest" name="authorisePurchaseRequest">

       </wsdl:input>

         <wsdl:output message="impl:authorisePurchaseResponse" name="authorisePurchaseResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AuthorisaationServiceSoapBinding" type="impl:AuthorisaationService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="authorisePurchase">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="authorisePurchaseRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="authorisePurchaseResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AuthorisaationServiceService">

      <wsdl:port binding="impl:AuthorisaationServiceSoapBinding" name="AuthorisaationService">

         <wsdlsoap:address location="http://localhost:8080/CDStore/services/AuthorisaationService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
