CDStore/WebContent/wsdl/OrderProcessService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://OrderProcessService.WebServices.K9.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://OrderProcessService.WebServices.K9.com" xmlns:intf="http://OrderProcessService.WebServices.K9.com" xmlns:tns1="http://json.org" xmlns:tns2="http://lang.java" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://OrderProcessService.WebServices.K9.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://json.org"/>
   <import namespace="http://lang.java"/>
   <element name="createOrder">
    <complexType>
     <sequence>
      <element name="shoppingCartInfo" type="xsd:string"/>
      <element name="shippingInfo" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="createOrderResponse">
    <complexType/>
   </element>
   <element name="fault" type="tns1:JSONException"/>
   <element name="creatAccount">
    <complexType>
     <sequence>
      <element name="accountName" type="xsd:string"/>
      <element name="accountInfo" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="creatAccountResponse">
    <complexType>
     <sequence>
      <element name="creatAccountReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAccount">
    <complexType>
     <sequence>
      <element name="accountName" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAccountResponse">
    <complexType>
     <sequence>
      <element name="getAccountReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="confirmOrder">
    <complexType>
     <sequence>
      <element name="purchaseOrder" type="xsd:string"/>
      <element name="shippingInfo" type="xsd:string"/>
      <element name="paymentInfo" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="confirmOrderResponse">
    <complexType/>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://json.org" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://lang.java"/>
   <complexType name="JSONException">
    <sequence>
     <element name="cause" nillable="true" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="createOrderRequest">

      <wsdl:part element="impl:createOrder" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAccountRequest">

      <wsdl:part element="impl:getAccount" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="creatAccountRequest">

      <wsdl:part element="impl:creatAccount" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAccountResponse">

      <wsdl:part element="impl:getAccountResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="confirmOrderRequest">

      <wsdl:part element="impl:confirmOrder" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="JSONException">

      <wsdl:part element="impl:fault" name="fault">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="confirmOrderResponse">

      <wsdl:part element="impl:confirmOrderResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="createOrderResponse">

      <wsdl:part element="impl:createOrderResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="creatAccountResponse">

      <wsdl:part element="impl:creatAccountResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="OrderProcessService">

      <wsdl:operation name="createOrder">

         <wsdl:input message="impl:createOrderRequest" name="createOrderRequest">

       </wsdl:input>

         <wsdl:output message="impl:createOrderResponse" name="createOrderResponse">

       </wsdl:output>

         <wsdl:fault message="impl:JSONException" name="JSONException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="creatAccount">

         <wsdl:input message="impl:creatAccountRequest" name="creatAccountRequest">

       </wsdl:input>

         <wsdl:output message="impl:creatAccountResponse" name="creatAccountResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAccount">

         <wsdl:input message="impl:getAccountRequest" name="getAccountRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAccountResponse" name="getAccountResponse">

       </wsdl:output>

         <wsdl:fault message="impl:JSONException" name="JSONException">

       </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="confirmOrder">

         <wsdl:input message="impl:confirmOrderRequest" name="confirmOrderRequest">

       </wsdl:input>

         <wsdl:output message="impl:confirmOrderResponse" name="confirmOrderResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="OrderProcessServiceSoapBinding" type="impl:OrderProcessService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="createOrder">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="createOrderRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="createOrderResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="JSONException">

            <wsdlsoap:fault name="JSONException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="creatAccount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="creatAccountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="creatAccountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAccount">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAccountRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAccountResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

         <wsdl:fault name="JSONException">

            <wsdlsoap:fault name="JSONException" use="literal"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="confirmOrder">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="confirmOrderRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="confirmOrderResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="OrderProcessServiceService">

      <wsdl:port binding="impl:OrderProcessServiceSoapBinding" name="OrderProcessService">

         <wsdlsoap:address location="http://localhost:8080/CDStore/services/OrderProcessService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
